* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 22.4vw;
  background-color: #fff;
}
header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2vw 0 4.8vw;
  height: 11.73333333vw;
}
header .top .left i {
  display: inline-block;
  width: 16.33333333vw;
  height: 7.46666667vw;
  font-size: 7.46666667vw;
  color: #fb7299;
  text-align: center;
  line-height: 7.46666667vw;
}
header .top .right {
  display: flex;
}
header .top .right .iconfont {
  font-size: 6.93333333vw;
  color: #ccc;
}
header .top .right a:nth-child(2) {
  overflow: hidden;
  margin-left: 6.4vw;
  width: 6.4vw;
  height: 6.4vw;
  font-size: 2.93333333vw;
  border-radius: 50%;
  background-color: #ccc;
  line-height: 6.4vw;
  text-align: center;
}
header .top .right button {
  margin-left: 6.4vw;
  width: 19.2vw;
  height: 6.4vw;
  border-radius: 0.8vw;
  background-color: #fb7299;
  border: none;
  color: #fff;
  line-height: 6.4vw;
  font-size: 3.73333333vw;
}
header .bottom {
  display: flex;
  justify-content: space-between;
  height: 10.66666667vw;
  border-bottom: 1px solid #eee;
}
header .bottom .tab ul {
  display: flex;
}
header .bottom .tab ul li {
  padding-left: 4.26666667vw;
  padding-right: 4.26666667vw;
}
header .bottom .tab ul li a {
  display: block;
  height: 10.13333333vw;
  line-height: 10.13333333vw;
  font-size: 3.73333333vw;
}
header .bottom .tab ul li a.current {
  color: #fb7299;
  border-bottom: 2px solid #fb7299;
}
header .bottom .more a {
  display: block;
  width: 10.66666667vw;
  height: 10.66666667vw;
  text-align: center;
  line-height: 10.66666667vw;
  color: #ccc;
}
header .bottom .more .iconfont {
  font-size: 5.86666667vw;
}
.video_content {
  padding: 22.4vw 1.33333333vw 0;
}
.video_content .video_list {
  display: flex;
  flex-wrap: wrap;
}
.video_content .video_list a {
  padding: 2.13333333vw 1.33333333vw;
  width: 50%;
  font-size: 3.2vw;
}
.video_content .video_list a .pic {
  position: relative;
  height: 26.66666667vw;
  background-color: skyblue;
}
.video_content .video_list a .pic .count {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2.13333333vw;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.video_content .video_list a .pic .count p .iconfont {
  font-size: 4.26666667vw;
  display: inline-block;
  transform: translateY(2px);
}
.video_content .video_list a .text {
  margin-top: 1.33333333vw;
  color: rgba(0, 0, 0, 0.8);
}
